<span class="welcome">Hey Welcome to...</span>
<span class="title">Code Warrior! </span><br>
<div class="mission" >
      <pre><h3><b>Before beginning the exam:</b></h3>
1. Make sure you have a good internet connection.
2. Log out of Blackboard and then back in to Blackboard before you begin.This will 
help with connectivity issues.
3. If you are taking the exam late in the day, it is recommended that you reboot your
computer before beginning to free up memory resources from other programs on
your computer.
4. Shutdown all Instant Messaging tools (Skype,AIM,MSN Messenger) and Email
programs as they can conflict with Blackboard.
5. When you begin the exam click the link only ONCE to launch the test. Double
clicking can lock the test.</pre>
</div>
<br>
<button routerLink="/admin/taketest">Take Test</button>