


<div class="container">

    <div  style="color:black">
      <!--     
    <button (click)="info()" style="text-align: center;">Info&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-info-circle" style="font-size:20px"></i></button>&nbsp;
    <button (click)="recent()">Recents&nbsp;<i class="fa fa-history" style="font-size:20px"></i></button>&nbsp;
    <button (click)="settings()">Settings&nbsp;<i class="fa fa-gear" style="font-size:20px"></i></button>&nbsp;
    <img src="https://www.w3schools.com/w3images/avatar2.png" style="height: 15%;
        width: 9%;border-radius: 156%">
    <div class="info" id="info">
        Info &nbsp;<i class="fa fa-info-circle" style="font-size:20px"></i><hr> -->
<!--            
        Settings <i class="fa fa-gear"></i><hr> 
        Edit&nbsp;<i class="fa fa-pencil"></i><br>-->
       
     <div class="row">  
       <div col-6>
      
            
    Profile&nbsp;<i class="fa fa-gear" style="font-size:20px"></i><hr>
    <label> Username </label> :Bhaskarasai Chitturi <button (click)="updatename()" class="fabtn"><i style="color:black;" class="fa fa-pencil"></i></button><br>
    <div class="updatename" id="updatename">
    <input type="text"><button class="btn-primary" (click)="update()">Update</button></div>
    Email:chitturi.bhaskar007@gmail.com<button (click)="updateemail()" class="fabtn"><i style="color:black;" class="fa fa-pencil"></i></button>
    <div class="updatemail" id="updatemail">
    <input type="email"><button class="btn-primary" (click)="updatemail()">Update</button></div>
  <br>
        Recents&nbsp;<i class="fa fa-history" style="font-size:20px"></i><hr>
        <b> 03/06/2019 8.30pm</b>:1 java question uploaded<br>
        <b>03/06/2019 8.31pm</b>:1 java question uploaded<br>
        <b>03/06/2019 8.32pm</b>:1 javaScript question uploaded<br>
        <b>03/06/2019 8.33pm</b>:1 javaScript question uploaded<br>
        <b>03/06/2019 8.34pm</b>:1 javaScript question uploaded<br>
</div>
</div>
</div> 
    <!-- <div class="settings" id="settings">
    </div>
    </div> -->
    <!-- </div>
    <script>
    
    function myFunction() {
            var x = document.getElementById("mypass");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
          }
    </script> -->