  <h1>Welcome to test</h1>
  <div class="test" id="q1">
  <span class="qn" id="qn">Question bar here </span><br>
  <div class="ans"><input type="radio"><label>Option A</label></div>
  <div class="ans"><input type="radio"><label>Option B</label><br></div>
  <div class="ans"><input type="radio"><label>Option C</label></div>
  <div class="ans"><input type="radio"><label>Option D</label><br></div>


<button class="button" style="vertical-align:middle" (click)="next()"> Submit ></button>
</div>
<div class="q2" id="q2">

    <span class="qn" id="qn2">Question bar here </span><br>
    <textarea class="codeans"></textarea>
    
<button class="button" style="vertical-align:middle" (click)="next()"> Submit ></button>
</div>