
    table {
      border-collapse: collapse;
      width: 100%;
      
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }
    button{
      background-color: #00aee7;
      outline:none;
      border:none;
      color:white;
    }
    
    .close{
      font-size:16px;
      outline:none;
      color:#ffff;
      margin-bottom:30px;
    }