
<h2>Submitted Questions</h2>
<div *ngIf="question==''">
<img style="margin-left:450px;margin-top:15%" src="/assets/images/3.gif"/>
</div>
<div *ngIf="question!=''">
    <table class="table table-striped table-bordered" >
        <thead class="thead-dark">
        <tr>
        <th>Question</th>
        <th>Language</th>
        <th>Modify</th>
        </tr>
        </thead>
        <tr *ngFor="let query of question">
          
          <td>{{query.question}}</td> 
         <td>{{query.language}}</td>
        
       
        <td><button class="btn btn-primary" (click)="showQuestion(content,query)" style="width:auto;">Modify</button></td> 
        </tr>
      
      </table>
      <ng-template #content let-modal>
        <div class="modal-header" style="background-color:#233242">
          <h4 class="modal-title" id="modal-basic-title" style="color:#ffff">Edit question here</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" style="font-size:16px;outline:none;color:#ffff">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
      <input type="text"  name="new" [(ngModel)]="query.question" placeholder="Enter question here">
      <button (click)="Update()">Submit</button>
</div>


